  #navbar{
        margin-top: -10px;
    }
        #uppernavbar{
           
            height: auto;
            display: flex;

        }
       #navbar>span,a{
       color:hsl(228,12%,32%) ; 
        }
        #uppernavbar>div>span{
       color:hsl(228,12%,32%) ; 
        }
        #uppernavbar>div{
            display: flex;
            justify-content: center;
        align-items: center;
        color: inherit;
        font-family: Montserrat ,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: .75rem;
    margin: auto;
    
    

        }
        #right{
            display: flex;
            
        }
        #right>div>img{
            height: 10px;
        }
        #uppernavbar>div>div{
      
            padding: 10px;
        }
       
        #uppernavbar>div>div:hover{
           
          background-color: grey;
        }
        #lowernavbar{
            
            box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
            height: 60px;
            display: flex;
            justify-content: space-around;
        
        }
        #lowernavbar>div{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
margin: auto;
        }
        #lowernavbar>div>div{
        margin-right: 20px;
       
        }
        #lowernavbar>div>div>a{
text-decoration: none;  
    
        }
        #lowernavbar>div>div>a:hover{
background-color: yellowgreen
    
        }
        #lowernavbar>div:first-child>div:hover{
       background-color:yellow;        }
      
       #logo>a>img{
width: 120px;
height: 60px;
object-fit: cover;
margin-right: 100px;
       }
       #search>a>img{
        width: 60px;
       }
       #heart>a>img{
        width: 40px;
       }
       #cart>a>img{
        width: 30px;
       }
       #lower_right>div{
        margin-right: 40px;
     
       }