body{
    background-color: white;
}
#main>p{
    margin: auto;
    text-align: center;
    color: rgb(203, 191, 191);
    font-family: Montserrat,sans-serif;
    padding: 2%;
}
#main>p:hover{
    color: black;
    cursor: pointer;
}

#main{
    width: 80%;
    margin: auto;
}



#img{
    width: 100%;
}


#filt{
    padding-top: 5px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

hr{
    width: 100%;
    height: 5px;
    background-color: rgb(172, 170, 170);
}
#cantnaier{
    padding-top: 3%;
    display: flex;
    margin: auto;
    gap: 15px;
}
#catgrie{
    background-color: rgb(215, 211, 211);
    width: 20%;
    padding: 2%;
}
#catgrie>select{
    padding-top: 10px;
    margin: 2%;
    font-size: 20px;
    width: 90%;
}

#cantnaier>#product{
    width: 110%;
background-color: pink;
}

