body{
    background-color: rgb(226, 226, 226);
    
}

#my_navbar{
    display: flex;
    gap: 15px;
    text-align: center;
    background-color: rgba(33, 32, 32, 0.823);
    height: 40px;
}
#my_navbar>p:nth-child(1){
    margin-left: 36%;
    /* text-align: center; */
    height: 100%;
    
}
#my_navbar>p>a{
    color: white;
    font-size: 12px;
   
}
#my_navbar>p>a:hover{
    background-color: aliceblue;
    color: black;
    height: 100%;
}

