<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Page</title>
    <link rel="stylesheet" href="../components.sachin/navbar.css">
    <link rel="stylesheet" href="./styles/view.css">
    <link rel="stylesheet" href="../components.sachin/footer.css">
    <style>
        #navbar{
            position: fixed;
            top: 0px;
            width: 100%;
            background-color: white;
        }
    </style>
</head>
<body>
    <div id="nav"></div>

    <div id="view_list">
        <!-- <div id="img">
            <img src="https://www.yoox.com/images/items/12/12856298CC_14_f.jpg?impolicy=crop&width=387&height=490"
                alt="">
        </div>
        <div id="content">
            <h4>8 by YOOX
                ORGANIC COTTON CREW-NECK S/SLEEVE REGULAR FIT T-SHIRT</h4>
            <p>$ 40.00</p>
            <div id="size">
                <span>XS</span>
           <span>S</span>
           <span>M</span>
           <span>L</span>
           <span>XL</span>
            </div>
            
           <div id="shopping_bag">ADD TO SHOPPING BAG</div>
           <div id="dream_box">ADD TO DREAM BOX</div>
        <div id="exter">This item is excluded from all promotional offers.</div>
        </div> -->
    </div>
    <hr>
    <div class="conteiner">
        <div class="ship">
            <h3>COMPOSITION</h3>
            <p>100% Organic cotton</p>
            <h3>MEASUREMENTS</h3>
            <p>Length 23.4 inches</p>
        </div>
        <div class="detelis">
            <h3>DETAILS</h3>
            <p>Product code: 12856298CC</p>
        </div>
    </div>
    <hr>
    <div class="conteiner">
        <div class="ship">
            <div class="shipping">
                <img src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/track-512.png" alt="">
            <h3>SHIPPING</h3>
            </div>
            <h4>Standard
                $ 9.95</h4>
                <p>6-8 business days</p>
                <h4>Express
                    $ 19.95</h4>
                    <p>2-4 business days</p>
        </div>
        <div class="deteils">
           <div class="shipping_pro">
            <img src="https://www.iconpacks.net/icons/2/free-curved-arrow-icon-2264-thumb.png" alt="">
            <h3>RETURNS / EXCHANGES</h3>
           </div>
            <div id="show">
                <p>Fast and easy returns</p>
            <h4>Returns</h4>
            <p>within 60 days</p>
            <h4>Exchanges</h4>
            <p>within 60 days</p>
            </div>
        </div>
    </div>
    <div id="recenty_view"></div>
    <div id="foot"></div>
</body>

</html>
<script src="./scripts/view.js" type="module"></script>